@namespace WiredBrainCoffeeClient.Components
@inject IJSRuntime JS
@implements IAsyncDisposable

<h2>Location</h2>

<div id="map"></div>

<style>
    #map {
        width: 100%;
        height: 300px;
    }
</style>

@code {
    IJSObjectReference mapModule;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if(firstRender)
        {
            var mapModule = await JS.InvokeAsync<IJSObjectReference>("import", "./js/locationMap.js");
            await mapModule.InvokeVoidAsync("loadLocationMap");
        }
    }

    async ValueTask IAsyncDisposable.DisposeAsync()
    {
        if(mapModule != null)
        {
            await mapModule.DisposeAsync();
        }
    }
}
