@page "/"


<header>
    <Carousel @bind-SelectedSlide="@selectedSlide">
        <CarouselSlide Name="1">
            <Image Source="images/banner/banner-bag.png" Text="City Skyline" Display="Display.Block" Style="width: 100%;" />
        </CarouselSlide>
        <CarouselSlide Name="2">
            <Image Source="images/banner/banner-ground.png" Text="Coffee" Display="Display.Block" Style="width: 100%;" />
        </CarouselSlide>
    </Carousel>
    @code{
        private string selectedSlide = "2";
    }
</header>
<div class="container">
    <h2 class="my-4">Three options to keep your brain wired.</h2>
    <div class="row">
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-image bg-ground">
                </div>
                <div class="card-body">
                    <h2 class="card-title">Coffee</h2>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex natus at dolorem enim! Nesciunt pariatur voluptatem sunt quam eaque, vel, non in id dolore voluptates quos eligendi labore.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-success">Full Menu</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-image bg-bagel">
                </div>
                <div class="card-body">
                    <h2 class="card-title">Carbs</h2>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex natus at dolorem enim! Nesciunt pariatur voluptatem sunt quam eaque, vel, non in id dolore voluptates quos eligendi labore.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-success">Full Menu</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 mb-4">
            <div class="card h-100">
                <div class="card-image bg-table">
                </div>
                <div class="card-body">
                    <h2 class="card-title">Community</h2>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod tenetur ex natus at dolorem enim! Nesciunt pariatur voluptatem sunt quam eaque, vel, non in id dolore voluptates quos eligendi labore.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-success">Get Involved</a>
                </div>
            </div>
        </div>
    </div>
    <hr class="mb-5">
    <div class="row">
        <div class="col-md-8">
            <div class="mobile-app">
                <h2>Get the app!</h2>
                <div class="mobile-content">
                    <div class="description">
                        <p>Stay wired on the go with these benefits:</p>
                        <ul>
                            <li>Coupons and promotions</li>
                            <li>Brainiacs club benefits</li>
                            <li>Store locator</li>
                            <li>Latest menu options</li>
                            <li>Exclusive items</li>
                            <li>Reminders</li>
                            <li>Community connections</li>
                        </ul>
                        <p>If you enjoy the app, please leave us a review!</p>
                        <p>Available for all popular devices.</p>
                    </div>
                    <img class="img-fluid rounded" src="images/download-small.png" alt="">
                </div>
            </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-success">Download</a>
                </div>
            </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <h2>Contact Us</h2>
                    <img style="width: 75%; margin: 0 auto; display: block;" src="images/placeholder.png" />
                    <p>Questions or feedback about anything? We'd love to hear from you.</p>
                </div>
                <div class="card-footer">
                    <a href="#" class="btn btn-success">Contact Us</a>
                </div>
            </div>
        </div>
        </div>
    <hr class="mb-5">
</div>
